/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{
    display:flex;
    justify-content: space-around;
}

#testoAlternato{
    border: 2px solid black;
    width:100%;
    padding: 20px;
    margin-top: 100px;
    font-weight: bold;
    font-family: sans-serif;
    
    
    
}


.parole{
    color: cadetblue;
    visibility: visible;
    margin-left: 2px;
}

i{
    opacity: 0;
}

i:nth-of-type(1){
    position: absolute;
    animation-name: parole;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
i:nth-of-type(2){
    position: absolute;
    animation-name: parole;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    

}
i:nth-of-type(3){
    position: absolute;
    animation-name: parole;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    

}

@keyframes parole{
    0%{opacity: 0; transform: translateY(-20px);}
    5%,20%{opacity: 1; transform: translateY(0);}
    5%,25%{opacity: 0; transform: translateY(-20px);}
    }