#icon-p{
   font-size: 1.2rem;
    cursor: pointer;
}
#nav{
    background: rgb(163,8,251);
background: linear-gradient(90deg, rgba(163,8,251,1) 0%, rgba(24,1,32,1) 100%);

}
#title{
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}
#offcanvasNavbarDark{
    background: rgb(194,94,255);
    background: linear-gradient(0deg, rgba(194,94,255,1) 0%, rgba(24,1,32,1) 100% );
}